.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputsBlock {
    width: 80vw;
    height: 30px;
    background-color: rgb(187, 247, 187);

}

input {
    padding-left: 30px;  
}

.modalLoginText {
    color: rgb(86, 139, 86);
    font-size: 23px;
    margin: 20px 0 40px 0;
}

.linkText {
    color: grey;
    margin: 40px 0 25px 0;
    text-decoration: none;
    padding: 0 20px;
}


.signUpButton {
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(200, 245, 200);
    color: rgb(98, 143, 98);
    text-align: center;
    transition: all .9s;
}
.signUpButton:hover{
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(44, 143, 44);
    color: white;
    text-align: center;

}
.signUpBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}