.packList {
    display: flex;
    flex-direction: column;
}

.tableHeader {
    color: black;
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    background-color: green;
    margin: 3px;

}

.cell {
    width: 100px;
    height: 30px;
    background-color: green;
    margin: 3px;
}